Source: qbittorrent-enhanced
Section: net
Priority: optional
Maintainer: Yangfl <mmyangfl@gmail.com>
Homepage: http://www.qbittorrent.org/
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 13), libtorrent-rasterbar-dev (>= 1.1.2),
 libboost-dev, libqt5svg5-dev, qtbase5-dev (>= 5.2.0), qttools5-dev-tools,
 zlib1g-dev

Package: qbittorrent-enhanced
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, geoip-database
Provides: qbittorrent
Conflicts: qbittorrent
Replaces: qbittorrent
Description: bittorrent client based on libtorrent-rasterbar with a Qt5 GUI (Enhanced Edition)
 BitTorrent client written in C++ and based on libtorrent-rasterbar with a
 Qt5 user interface. qBittorrent is a feature rich but lightweight client
 that is very similar to uTorrent. Its main features are:
 .
  * Polished uTorrent-like user interface
  * Well integrated and extensible search engine
  * Remote control through a Web user interface
  * Vuze-compatible protocol encryption
  * uTorrent-compatible Peer eXchange (PeX)
  * DHT (trackerless) support
  * UPnP / NAT-PMP port forwarding
  * IPv6 compliant
  * RSS support with advanced download filters
  * Advanced control over torrent content and trackers
  * IP Filtering (eMule / Peer Guardian filters)
  * Torrents queueing and prioritizing
  * Good localization (~25 languages supported)
  * Unicode support
 .
 Enhanced with:
  * Auto Ban Xunlei, QQ, Baidu, Xfplay, DLBT and Offline downloader client
  * Temporary IP Filter API for advanced user
  * Logging Failed WebUI/API Login Attempts
  * Update MessageBox with changelog if NEW version is available
  * Auto Ban Unknown Peer from China Option (Default: OFF)
  * Show Tracker Authentication Window (Default: ON)
  * Auto Update Public Trackers List (Default: OFF)

Package: qbittorrent-enhanced-nox
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: qbittorrent-nox
Conflicts: qbittorrent-nox
Replaces: qbittorrent-nox
Description: bittorrent client based on libtorrent-rasterbar (Enhanced Edition without X support)
 BitTorrent client written in C++ and based on libtorrent-rasterbar.
 qBittorrent-nox is a version of qBittorrent (Qt5 application) that does not
 require X and can be controlled via a WebUI, thus is more suitable for
 headless servers. It is a feature rich but lightweight client that is very
 similar to rTorrent. Its main features are:
 .
  * Remote control through a Web user interface
  * Vuze-compatible protocol encryption
  * uTorrent-compatible Peer eXchange (PeX)
  * DHT (trackerless) support
  * UPnP / NAT-PMP port forwarding
  * IPv6 compliant
  * Advanced control over torrent content and trackers
  * IP Filtering (eMule / Peer Guardian filters)
  * Torrents queueing and prioritizing
  * Good localization (~25 languages supported)
  * Unicode support
 .
 Enhanced with:
  * Auto Ban Xunlei, QQ, Baidu, Xfplay, DLBT and Offline downloader client
  * Temporary IP Filter API for advanced user
  * Logging Failed WebUI/API Login Attempts
  * Update MessageBox with changelog if NEW version is available
  * Auto Ban Unknown Peer from China Option (Default: OFF)
  * Show Tracker Authentication Window (Default: ON)
  * Auto Update Public Trackers List (Default: OFF)
